

{{>header}}
<div class="container">
<h5>Created by: {{name}}</h5>

<form>
    <input placeholder="Location">
    <button>Search</button>
</form>

<p id="message-1"></p>
<p id="message-2"></p>
<p></p>

</div>



{{>footer}}
</body>
</html>